<ul>
  <li{if $current == 'politics'} class="current"{/if}>
    <a href="{plugin_url file="dashboards/politics.php"}">
  <li{if $current == 'objectives'} class="current"{/if}>
    <a href="{plugin_url file="index.php"}">Plan de communication</a>
  </li>
  <li{if $current == 'products'} class="current"{/if}>
    <a href="{plugin_url file="products/index.php"}">Événements et produits à promouvoir</a>
  </li>
  <li{if $current == 'campaigns'} class="current"{/if}>
    <a href="{plugin_url file="campaigns/index.php"}">Campagnes de communication</a>
  </li>
  <li{if $current == 'publications'} class="current"{/if}>
    <a href="{plugin_url file="supports/index.php"}">Supports et publications</a>
  </li>
</ul>
